{% extends "base.html" %}

{% block body %}

  <div class="container">

        <div class="hero-unit">

        <h3>About geotherm.ai</h3>
          <p><strong>What?</strong> This finds geological information from plaintext. Currently it just finds geochronological intervals and gives details about them, but will hopefully be extended.</p>

          <p><strong>Whence?</strong> This was hacked together by Agile Scientific</p>

          <p><strong>Examples</strong> The results are from the International Commission on Stratigraphy's geologic time scale. Here are some things this web app might do one day:</p>

          <ol>
            <li>Recognition of locally-used intervals - we need sources for these!</li>
            <li>Geolocation of places mentioned, possibly including of geologically interesting locations (that is, recognition of geological places such as the Parana Basin and such).</li>
            <li>Recognition of more types of geological things, not just intervals.</li>
            <ul>
              <li>Rock types!</li>
              <li>Mineral names!</li>
              <li>Lithostratigraphic things!</li>
            </ul>
          </ol>

      </div>

  </div>

{% endblock %}
